/* debug */
.debug [class*='col-']{
  background-color: lightblue;
  height: 100px;
  border: 1px solid black;
}

.debug_annidato [class*='col-'] {
  background-color: pink;
  border: 1px solid red;
}

.debug .h_600 {
  height: 600px;
}

.debug .h_500{
  height: 500px;
}
.debug .h_400{
  height: 400px;
}
.debug .h_300{
  height: 300px;
}

.debug .h_200 {
  height: 200px;
}

.debug section {
  padding: 30px 0;
}
/* header */

/* jumbotron */
section .jumbo {
  background-image: url('../img/bg-home-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

/* main */

/* prima sezione */
#loghi {
  background-color: #f3f5f9;
}

/* terza sezione */
#designed {
  background-color: #f3f5f9;
}